@font-face {
	font-family: "GothicI";
	src: url("../fonts/gothici.eot"); /* IE9 Compat Modes */
	src: url("../fonts/gothici.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/gothici.otf") format("opentype"), /* Open Type Font */
		url("../fonts/gothici.svg") format("svg"), /* Legacy iOS */
		url("../fonts/gothici.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/gothici.woff") format("woff"), /* Modern Browsers */
		url("../fonts/gothici.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('/sources/fonts/montserrat.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('montserratbold.woff2') format('woff2'), url('montserratbold.woff') format('woff'), url('montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}